/* how to center div elements pls help */

.friend-view {
    background-color: #deaceb;
    color: #f0f0f0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    font-size: large;
    margin: 2%;
    padding-left: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.friend-info {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
}

.right-floated {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.right-floated > a {
    font-size: xx-large;
}

.right-floated > * {
    margin-right: 5%;
}

#top-performer {
    font-size: xx-large;
    color:#fcc653;
}


#name, #trophy-icon, #score {
    font-size: x-large;
}

#name {
    width: 13em;
}

#score {
    width: 1em;
    margin-left: 0.5em;
}

img {
    border-radius: 50%;
    width: 4em;
    height: auto;
}

.friend-view a:hover {
    color: white;
    font-size: 200%;
}
