#content{
    display: flex;
    justify-content: center;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d579ec;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 2px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-section {
    position: relative;
    margin-bottom: 20px;
}

#search-input {
    width: calc(100% - 130px); /* Mniejsza szerokość, aby zmieścić przycisk i dropdown */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box; /* Uwzględnienie paddingu w obliczeniach szerokości */
}


#search-button {
    float: right;
    width: 100px; /* Szerokość przycisku */
    padding: 10px;
    border: none;
    background-color: #cd60e9;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #ad63c0;
}

.addMeetingBtn {
    margin: auto;
    background-color: #d579ec;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer; 
    border-radius: 2px;
    transition: background-color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.addMeetingBtn:hover {
    background-color: #ad63c0;
}

.popup-form-input {
    width: 100%; /* Szerokość 100% kontenera */
    padding: 12px 20px; /* Wewnętrzne odstępy */
    margin: 8px 0; /* Margines */
    display: inline-block; /* Wyświetlanie w linii */
    border: 1px solid #ccc; /* Szare obramowanie */
    border-radius: 2px; /* Zaokrąglone rogi */
    box-sizing: border-box; /* Uwzględnij obramowanie i odstępy wewnętrzne w szerokości i wysokości */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Wewnętrzny cień */
    transition: border-color 0.3s, box-shadow 0.3s; /* Animacja zmiany obramowania i cienia */
}

/* Efekt po najechaniu kursorem */
.popup-form-input:hover {
    border-color: #888; /* Zmiana koloru obramowania */
}

/* Efekt po skupieniu (focus) */
.popup-form-input:focus {
    border-color: #4CAF50; /* Zielone obramowanie */
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.6); /* Zielony cień */
    outline: none; /* Usunięcie domyślnego efektu focus */
}

#calendarContainer-month {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#organizerContainer-list .cjslib-list-placeholder {
    display: flex !important;
    justify-content: center
}